<a href="https://colab.research.google.com/github/gururajsavalgi/Skill-India-AI-ML-Scholarship/blob/main/adding_a_product.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [186]:
fd = open("record.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)

**INCREASING quantity of EXISTING product**

In [188]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))

qn=record[prod_id]['qn']+qn

record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1051
Enter name:**CR7**
Enter price:5000
Enter quantity:1

**RECORDS OF PRODUCT**

In [189]:
record

{'10000': {'name': 'lemon', 'pr': 100, 'qn': 23},
 '1001': {'name': 'parachute', 'pr': 50, 'qn': 10},
 '1002': {'name': 'headphone', 'pr': 500, 'qn': 10},
 '1003': {'name': 'purse', 'pr': 50, 'qn': 20},
 '1004': {'name': 'mat', 'pr': 100, 'qn': 10},
 '1005': {'name': 'cable', 'pr': 20, 'qn': 50},
 '1006': {'name': 'monitor', 'pr': 800, 'qn': 50},
 '1007': {'name': 'dye', 'pr': 70, 'qn': 90},
 '1008': {'name': 'paint', 'pr': 800, 'qn': 20},
 '1009': {'name': 'torch', 'pr': 100, 'qn': 20},
 '1010': {'name': 'spunch', 'pr': 60, 'qn': 15},
 '1011': {'name': 'paste', 'pr': 33, 'qn': 22},
 '1012': {'name': 'bulb', 'pr': 11, 'qn': 22},
 '1013': {'name': 'botle', 'pr': 66, 'qn': 44},
 '1014': {'name': 'BUD', 'pr': 33, 'qn': 22},
 '1015': {'name': 'PIN', 'pr': 2, 'qn': 80},
 '1016': {'name': 'TABLE', 'pr': 600, 'qn': 44},
 '1017': {'name': 'BLACK_COVER', 'pr': 22, 'qn': 10},
 '1018': {'name': 'Batminton', 'pr': 922, 'qn': 21},
 '1019': {'name': 'cotton', 'pr': 32, 'qn': 25},
 '1020': {'name': 'biscuit', 'pr': 5, 'qn': 100},
 '1021': {'name': 'bread', 'pr': 20, 'qn': 50},
 '1022': {'name': 'screen gaurd', 'pr': 33, 'qn': 505},
 '1023': {'name': 'pin', 'pr': 2, 'qn': 202},
 '1024': {'name': 'calander', 'pr': 66, 'qn': 222},
 '1025': {'name': 'oil', 'pr': 90, 'qn': 60},
 '1026': {'name': 'chair', 'pr': 500, 'qn': 20},
 '1027': {'name': 'munch', 'pr': 5, 'qn': 5},
 '1028': {'name': 'kit-kat', 'pr': 10, 'qn': 22},
 '1029': {'name': 'mirror', 'pr': 22, 'qn': 33},
 '1030': {'name': 'plug', 'pr': 26, 'qn': 55},
 '1031': {'name': 'nail', 'pr': 20, 'qn': 50},
 '1032': {'name': 'seat', 'pr': 44, 'qn': 55},
 '1033': {'name': 'vasline', 'pr': 22, 'qn': 55},
 '1034': {'name': 'tower', 'pr': 222, 'qn': 55},
 '1035': {'name': 'BOATROCKERZZ', 'pr': 999, 'qn': 2},
 '1036': {'name': 'SENSOR', 'pr': 33, 'qn': 55},
 '1037': {'name': 'lemon', 'pr': 2, 'qn': 202},
 '1038': {'name': 'saint', 'pr': 555, 'qn': 5},
 '1039': {'name': 'pant', 'pr': 333, 'qn': 22},
 '1040': {'name': 'inner wear', 'pr': 22, 'qn': 8},
 '1041': {'name': 'mouse', 'pr': 66, 'qn': 555},
 '1042': {'name': 'SSD', 'pr': 1999, 'qn': 5},
 '1043': {'name': 'DISPLAY', 'pr': 1000, 'qn': 5},
 '1044': {'name': 'PHOTO', 'pr': 55, 'qn': 88},
 '1045': {'name': 'WATER BOTTLE', 'pr': 88, 'qn': 66},
 '1046': {'name': 'FANTA', 'pr': 22, 'qn': 55},
 '1047': {'name': 'BOOK', 'pr': 22, 'qn': 50},
 '1048': {'name': 'TED', 'pr': 5, 'qn': 5},
 '1049': {'name': 'SETWET', 'pr': 82, 'qn': 25},
 '1050': {'name': 'SETGET', 'pr': 666, 'qn': 1},
 '1051': {'name': '**CR7**', 'pr': 5000, 'qn': 2}}

**Add New Item into Inventory**

In [167]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
if qn<=0 or pr<=0:
  print("invalid input")
else:
  record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1051
Enter name:CR7
Enter price:20000
Enter quantity:1

**DELETE ELEMENT FROM RECORD**

In [184]:
prod_id = str(input("Enter product id:"))
if 'prod_id' in record:
  del record[prod_id]
  print(prod_id + "  prod_id is deleted")
else:
  print("prod_id is not available")

Enter product id:100
prod_id is not available

In [190]:
record

{'10000': {'name': 'lemon', 'pr': 100, 'qn': 23},
 '1001': {'name': 'parachute', 'pr': 50, 'qn': 10},
 '1002': {'name': 'headphone', 'pr': 500, 'qn': 10},
 '1003': {'name': 'purse', 'pr': 50, 'qn': 20},
 '1004': {'name': 'mat', 'pr': 100, 'qn': 10},
 '1005': {'name': 'cable', 'pr': 20, 'qn': 50},
 '1006': {'name': 'monitor', 'pr': 800, 'qn': 50},
 '1007': {'name': 'dye', 'pr': 70, 'qn': 90},
 '1008': {'name': 'paint', 'pr': 800, 'qn': 20},
 '1009': {'name': 'torch', 'pr': 100, 'qn': 20},
 '1010': {'name': 'spunch', 'pr': 60, 'qn': 15},
 '1011': {'name': 'paste', 'pr': 33, 'qn': 22},
 '1012': {'name': 'bulb', 'pr': 11, 'qn': 22},
 '1013': {'name': 'botle', 'pr': 66, 'qn': 44},
 '1014': {'name': 'BUD', 'pr': 33, 'qn': 22},
 '1015': {'name': 'PIN', 'pr': 2, 'qn': 80},
 '1016': {'name': 'TABLE', 'pr': 600, 'qn': 44},
 '1017': {'name': 'BLACK_COVER', 'pr': 22, 'qn': 10},
 '1018': {'name': 'Batminton', 'pr': 922, 'qn': 21},
 '1019': {'name': 'cotton', 'pr': 32, 'qn': 25},
 '1020': {'name': 'biscuit', 'pr': 5, 'qn': 100},
 '1021': {'name': 'bread', 'pr': 20, 'qn': 50},
 '1022': {'name': 'screen gaurd', 'pr': 33, 'qn': 505},
 '1023': {'name': 'pin', 'pr': 2, 'qn': 202},
 '1024': {'name': 'calander', 'pr': 66, 'qn': 222},
 '1025': {'name': 'oil', 'pr': 90, 'qn': 60},
 '1026': {'name': 'chair', 'pr': 500, 'qn': 20},
 '1027': {'name': 'munch', 'pr': 5, 'qn': 5},
 '1028': {'name': 'kit-kat', 'pr': 10, 'qn': 22},
 '1029': {'name': 'mirror', 'pr': 22, 'qn': 33},
 '1030': {'name': 'plug', 'pr': 26, 'qn': 55},
 '1031': {'name': 'nail', 'pr': 20, 'qn': 50},
 '1032': {'name': 'seat', 'pr': 44, 'qn': 55},
 '1033': {'name': 'vasline', 'pr': 22, 'qn': 55},
 '1034': {'name': 'tower', 'pr': 222, 'qn': 55},
 '1035': {'name': 'BOATROCKERZZ', 'pr': 999, 'qn': 2},
 '1036': {'name': 'SENSOR', 'pr': 33, 'qn': 55},
 '1037': {'name': 'lemon', 'pr': 2, 'qn': 202},
 '1038': {'name': 'saint', 'pr': 555, 'qn': 5},
 '1039': {'name': 'pant', 'pr': 333, 'qn': 22},
 '1040': {'name': 'inner wear', 'pr': 22, 'qn': 8},
 '1041': {'name': 'mouse', 'pr': 66, 'qn': 555},
 '1042': {'name': 'SSD', 'pr': 1999, 'qn': 5},
 '1043': {'name': 'DISPLAY', 'pr': 1000, 'qn': 5},
 '1044': {'name': 'PHOTO', 'pr': 55, 'qn': 88},
 '1045': {'name': 'WATER BOTTLE', 'pr': 88, 'qn': 66},
 '1046': {'name': 'FANTA', 'pr': 22, 'qn': 55},
 '1047': {'name': 'BOOK', 'pr': 22, 'qn': 50},
 '1048': {'name': 'TED', 'pr': 5, 'qn': 5},
 '1049': {'name': 'SETWET', 'pr': 82, 'qn': 25},
 '1050': {'name': 'SETGET', 'pr': 666, 'qn': 1},
 '1051': {'name': '**CR7**', 'pr': 5000, 'qn': 2}}

In [191]:
record=json.dumps(record)